body
{
    color:rgb(250, 189, 45);
    background-color:rgb(250, 189, 45))
    text-align: left;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

#container
{
    width: 70%;
    padding: 1lem;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#container h1
{
    font-size: 60px;
    text-align: center;
}